backcall 
Bottleneck 
certifi==2021.5.30
charset-normalizer==2.0.2
click 
cycler==0.10.0
decorator 
Flask 
googlemaps==4.4.7
idna==3.2
importlib-metadata 
influxdb==5.3.1
itsdangerous 
jedi 
Jinja2 
kiwisolver 
MarkupSafe 
matplotlib 
msgpack==1.0.2
numexpr 
numpy 
olefile==0.46
pandas==1.2.5
parso==0.7.0
pexpect 
Pillow 
prompt-toolkit 
ptyprocess 
Pygments 
pymongo==3.11.4
pyparsing 
python-dateutil 
pytz 
pyzmq==20.0.0
requests==2.26.0
six
tornado 
traitlets 
urllib3==1.26.6
wcwidth 
Werkzeug 
zipp 
ruamel_yaml>=0.11.14